@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: "Poppins";
  src: url("./YekanBakh-Regular.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} */
